{% extends "/home/base_home.html" %}

{% block title %}IA.Med Login Page{% endblock %}

<!-- ################################################################################### -->
<!-- Navigation-->
{% block nav %}
<a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">IA.Med</a>
<!--
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Descargar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Características</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contacto</a>
        </li>

        <li class="nav-item" id="login">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('login_home') }}">LogIn</a>
        </li>
    </ul>
</div>-->
{% endblock %}
<!-- ################################################################################### -->
<!-- Navigation-->


{% block body %}
<!-- ################################################################################### -->
<!-- Header-->
<header class="masthead" id="loginmasterhead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <img src="/static/home/img/Asset.png" alt="IA.Med" style="width:88%">
                    <h1 class="mb-5">Ingresa y disfruta de la nueva generación de WebApps en
                        <span id='indispensable'>MEDICINA!</span></h1>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <form method="POST" action="{{ url_for('login_home') }}">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Ingrese su correo electrónico" name="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Ingrese su contraseña" aria-describedby="passwordHelpBlock" name="password"
                            required>
                        {% if un %}
                        <br>
                        <div class="p-3 mb-2 bg-primary text-dark">Contraseña errada o usuario no autorizado.
                        </div>
                        {% endif %}
                        {% if entrar %}
                        <br>
                        <div class="p-3 mb-2 bg-primary text-dark">Es necesario hacer el LogIn Primero.</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-dark">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</header>
<!-- ################################################################################### -->
<!-- Header-->
{% endblock %}